* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

.header {
    width: 100%;
    height: 30%;
    min-height: 180px;
    background-color: #f8f9fe;
    transition: background-color 0.3s ease-in-out;
}

.header-content {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
}

.header-desc h1 {
    font-size: 25px;
    margin-bottom: 5px;
    color: #1f1f27;
    transition: color 0.3s ease-in-out;
}

.header-desc p {
    font-size: 14px;
    color: #6d6f7a;
    font-weight: 700;
}

.theme-switch-container {
    display: flex;
    align-items: center;
}

.theme-switch-container p {
    font-size: 14px;
    margin-right: 10px;
    color: #8e93a7;
    font-weight: 700;
}

.theme-switcher {
    background: linear-gradient(to top right, #3398e0, #50c994);
    padding: 3px;
    width: 45px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    transition: background-color 0.3s ease-in-out;
}

.switch-checkbox {
    appearance: none;
    position: relative;
    width: 17px;
    height: 17px;
    background-color: #f1f3fa;
    border-radius: 50px;
    cursor: pointer;
    transition: translate 0.3s ease-in-out, background-color 0.3s ease-in-out;
    ;
}

.theme-switcher:has(input:checked) .switch-checkbox {
    translate: 22px 0;
}

.body {
    max-width: 1100px;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    padding: 0 25px;
}

.soc-media-cards {
    display: flex;
    gap: 25px;
}

.soc-media-card {
    width: calc((100% - 3 * 25px) / 4);
    border-radius: 5px;
}

.soc-media-card .card-content {
    height: calc(100% - 5px);
    position: relative;
    top: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    padding: 30px 0;
}

.card-header {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.card-header p {
    font-size: 12px;
    color: #757884;
    font-weight: 700;
}

.followers {
    line-height: 1.3;
    margin: 20px 0;
}

.followers-num {
    font-size: 45px;
    transition: color 0.3s ease-in-out;
}

.followers p {
    letter-spacing: 4px;
    font-size: 12px;
    color: #8c8f98;
}

.change {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
}

.increase {
    color: #1db489;
}

.decrease {
    color: #dc414c;
}

.facebook {
    background-color: #1890f6;
}

.twitter {
    background-color: #1da1f2;
}

.instagram {
    background: linear-gradient(to right, #f4be6e, #e24b94);
}

.youtube {
    background-color: #c30129;
}

.overview-header h2 {
    color: #666a7d;
    margin: 40px 0 20px;
    font-size: 22px;
    transition: color 0.3s ease-in-out;
}

.overview-cards {
    display: grid;
    column-gap: 25px;
    row-gap: 15px;
    grid-template-columns: repeat(4, calc((100% - 25px * 3) / 4));
}

.overview-card {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.overview-card-info p {
    font-size: 12px;
    color: #656879;
    font-weight: 700;
}

.overview-card-info h3 {
    font-size: 25px;
    margin-top: 20px;
    color: #1d2029;
    transition: color 0.3s ease-in-out;
}

.overview-card-right {
    text-align: right;
}

.overview-card .change {
    margin-top: 25px;
}

.card-content {
    background-color: #f0f3fa;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.card-content:hover {
    background-color: #e1e3f0;
}

/* DARK MODE */

body:has(.switch-checkbox:checked) {
    background-color: #1d2029;
}

.header:has(.switch-checkbox:checked) {
    background-color: #20222f;
}

.header:has(.switch-checkbox:checked) .theme-switch-container p {
    color: #feffff;
}

.header:has(.switch-checkbox:checked) .header-desc h1 {
    color: #feffff;
}

.switch-checkbox:checked {
    background-color: #363957;
}

.header:has(.switch-checkbox:checked)~.body .overview-header h2 {
    color: #feffff;
}

.header:has(.switch-checkbox:checked)~.body .card-content {
    background-color: #252b43;
}

.header:has(.switch-checkbox:checked)~.body .card-content:hover {
    background-color: #333a56;
}

.header:has(.switch-checkbox:checked)~.body .card-content h3 {
    color: #feffff;
}